body {
    font-family: Optima, sans-serif;
    background-color: silver;
}
a:link {
    color: #055;
}
a:visited {
    color: #404;
}
header {
    text-align: center;
    color: white;
    background-color: #055;
}
header h1 {
    color: #FFFF00;
    font-size: 250%;
}
header h2 {
    font-weight: normal;
    font-style: italic;
}
#sitenav {
    color: white;
    background-color: #404;
}
#sitenav ol {
    font-size: 90%;
    text-align: center;
}
#sitenav li {
    border-left: 1px solid #DD0;
}
#sitenav li a {
    color: white;
}
#sitenav li a:link, #sitenav li a:visited {
    color: white; 
    text-decoration: none;
}
#sitenav li a:hover {
    color: #DDDD00;
}
#main {
    background-color: #055;
}
.content {
    background-color: white;
}
.content p {
    font-size: 90%;
    line-height: 1.4;
}
#sidebar h3 {
    font-size: 100%;
    color: white;
    font-weight: normal;
    background-color: #404;
}
#sidebar ol {
    background-color: white; 
    border: 2px solid #404;
    border-top: 0;
}
#sidebar li {
    font-size: 85%;
}
#sidebar li a:link, #sidebar li a:visited {
    text-decoration: none;
    color: #055;
}
#sidebar li a:hover {
    color: #404;
}
footer {
    background-color: #404; 
    color: white;
}
footer p {
    font-size: 85%;
}
footer p a:link, footer p a:visited {
    color: #DDDD00;
}
img:hover{
background-color: red;
}